{% extends 'registration/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid" id="registrationform">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="registration">
                <div class="registration-head">
                    <h4>Instagram</h4>
                    <p>Sign In to see photos and videos from your friends</p>
                </div>
                <br>
                <div class="registration-form form-group">
                    <form action="" , method="post">
                        {% csrf_token %}
                        <!-- {% bootstrap_form form %}         -->
                        <!-- <label for="username">Input Username:</label> -->
                        <input class="form-control" value="Username" {{form.username}}> 
                        <!-- <label for="email">Input Email Address:</label> -->
                        <input class="form-control" value="Email" {{form.email}}>
                        <label for="password1">Enter Password:</label><br>
                        <input class="form-control" {{form.password1}}>
                        <label for="password2">Confirm Password:</label><br>   
                        <input class="form-control" {{form.password2}}>                     
                        <br>
                        {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            {{ error|escape }}
                        {% endfor %}
                        {% endif %} <br><br>
                       
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block" value="Sign Up">
                            <br>
                            <p>By signing up, you agree to our <strong><em>terms, data and privacy policies</em></strong></p>
                        </div>
    
                    </form>
                    <div class="registration-login">
                        <p>Have an account?<a href="{% url 'index' %}">Login</a></p>
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>

</div>

{% endblock %}