<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Document</title>
</head>

<body>
    <div id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'homepage' %}" style="font-size: 28px; color: black;">Instaclone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Adding a search form  -->
            <div class="col-sm-4 col-md-4 navbar-centre navbarsearch">

                <form class="navbar-form" role="search" action="{% url 'search_profile' %}">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Profile" name="article">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i
                                    class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-4 col-sm-4 navbar-right">
                <div class="wrapper small">
                    <button class="navbutton"><a href="{% url 'homepage'%}"><i class="fa fa-home"></i></a></button>
                    <button class="navbutton"><a href="{% url 'uploadimage' %}"><i
                                class="fa fa-plus-square"></i></a></button>
                    <button class="navbutton"><a href="#"><i class="fa fa-heart"></i></a></button>
                </div>
                <div class="col-md-4 col-sm-4 navbar-right">
                    {% if user.is_authenticated %}
                    <ul class="dropdown">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                                aria-expanded="false">User
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{%url 'userprofile' user.id%}">View Profile</a>
                                </li>
                                <li>
                                    <a href="{% url 'editprofile' user.id%}">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li style="list-style-type: none;">
                            <a href="{% url 'index' %}">Login</a>
                        </li>
                    </ul>

                    {% endif %}

                </div>

            </div>

    </div>
    </nav>
    </div>

</body>

</html>