{% extends 'instaclone/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}

                <input value="Submit" type="submit" class="btn btn-success btn-block">

            </form>

        </div>
        <div class="col-md-4"> </div>
    </div>
</div>

{% endblock %}