{% extends 'instaclone/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-7">
            {% for image in images %}
            <div class="viewimage">
                <img src="{{image.image.url}}" alt="{{image.image_name}}">
            </div>
            <div>
                {{image.caption}}
            </div>
            {% endfor %}
        </div>

        <div class="col-md-3"></div>
    </div>
</div>
{%endblock%}