{% extends 'instaclone/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            {% for user in user %}
            {% if user.profile_pic.url %}
            <p>Profile Picture:</p>
            <img src="{{user.profile_pic.url}}" class="profilepic">
            {% else %}
            <img src="../../static/Images/altprofilepic.jpg" class="profilepic"> 
            <p>{{user.bio}}</p> 
            {% endif %}
            {% endfor %}
                     
        </div>
        <div class="col-md-6">
            <!-- User's Images -->
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}