{% extends 'instaclone/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid" id="profilepage">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="profilepagedetails">
            <div class="col-md-4">
                {% for user in user %}
                {% if user.profile_pic.url %}
                <img src="{{user.profile_pic.url}}" class="profilepic">
                {% else %}
                <img src="../../static/Images/altprofilepic.jpg" class="profilepic">
                {% endif %}
                <p>{{user.bio}}</p>

                {% endfor %}
            </div>
            <div class="col-md-8" class="profilepagedetails">
                <div>
                    {% for user in user %}
                    <form method="POST" action="{% url 'followers' user.pk %}">
                        {% csrf_token %}
                        <button type="submit" name="follow" value="{{user.id}}">Follow</button>
                        <br>
                        {{total_followers}} - followers
                    </form>  
                    {% endfor %}                  
                </div>
                <div>
                    {% for user in user %}
                    <button class="btn btn success"><a href="{% url 'editprofile' user.id %}">Edit Profile</a></button>
                    
                    {% endfor %}
                </div>
            </div>


        </div>
        <div class="col-md-2"></div>

        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for image in images %}
            <div class="col-md-4 image-card">
                <img src="{{image.image.url}}">
            </div>
            {% endfor %}

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}