{% extends 'instaclone/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid">
        <div class="row search-content">
            {% if articles %}
            <h4>Found {{articles|length}} of {{message}}</h4>
            {% else %}
            <h4>Found 0 images of the {{message}}</h4>
            {%endif%}
        </div>
        <div class="row search-img">
            {% if articles %}
            {% for article in articles %}
            <div class="col-md-4 image-card">
                <img src="{{ article.image.url }}" alt="{{ article.description }}" class="img-responsive">
            </div>
            {% endfor %} 
            {% endif %}      
    
        </div>
</div>

{% endblock %}